<%= "Welcome #{session[:player_id]}" %>
<img src="/who-is-awesome.jpg">
<form action="/game/new" method="POST">
What's your name?
<input type="text" name="name">
<input type="submit" value="Let's go!">
</form>
