<meta http-equiv="refresh" content="4" />
WAITING ON OPPONENT TO PLACE SHIPS.
<h3>Your board</h3>
<br><pre><%= $game.own_board_view $game.send(session[:player_id]) %></pre>
<br>
<a href="/game/play">Check if we're ready to play.</a>
